.event-card-bold {
    font-weight: bold;
}

.event-list {
    height: 25rem;
}

.chat-container{
    height:25rem;
}

.tasks-inner{
    height: 23.5rem;
}
.chatdark{
    background-color: rgb(218, 228, 238);
}
.chatlight{
    background-color: rgb(223, 221, 221);
}

.tags {
    margin: 0 1px;
}

#login__button, #register--button{
    width: 6em;
}
 
.article-container {
    height:25rem;
}

#article-list {
    height: 100%;
}

