.event-card-bold {
    font-weight: bold;
}

.event-list {
    height: 25rem;
}

.chat-container{
    height:25rem;
}

.tasks-container{
    height: 25rem;
}
.chatdark{
    background-color: rgb(218, 228, 238);
}
.chatlight{
    background-color: rgb(223, 221, 221);
}

 